*{
    margin: 0;
    padding: 0;
     font-size: 25px;
    
}

canvas {
    background:  black;
    
    
}


#loseMenu, #mainMenu{
    display: block;
    position: absolute;
    background: black;
    left: 0;
    top: 0;
/*    background: yellow;*/
    width: 800px;
    height: 600px;
}

button {
    cursor: pointer;
    
}

#mainMenu p {
    color: white;
    text-align: center;
    
    
}

#mainMenu button{
    background: white;
    color: black;
    display: block;
    width: 150px;
    height: 50px;
    border: 0;
   
}

#startButton {
    margin:  250 auto;
}

/*
#controlsButton {
    margin: 0 auto;
}
*/



#loseMenu button{
    background: white;
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
}

#score{
    background: white;
    text-align: center;
    width: 50%;
    height: 120px;
    padding-top: 62.5px;
    margin: 100 auto;
/*    opacity: 0.2;*/
    
    
}
